@import '~@angular/material/theming';

@include mat-core();

$cc-primary: (
  50 : #e0f2f1,
  100 : #b3e0db,
  200 : #80cbc4,
  300 : #4db6ac,
  400 : #26a69a,
  500 : #009688,
  600 : #008e80,
  700 : #008375,
  800 : #00796b,
  900 : #006858,
  A100 : #97ffec,
  A200 : #64ffe3,
  A400 : #31ffda,
  A700 : #18ffd5,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$cc-accent: (
  50 : #f2f8e4,
  100 : #dfeebc,
  200 : #cae390,
  300 : #b4d863,
  400 : #a4cf41,
  500 : #94c720,
  600 : #8cc11c,
  700 : #81ba18,
  800 : #77b313,
  900 : #65a60b,
  A100 : #ebffd4,
  A200 : #d3ffa1,
  A400 : #bcff6e,
  A700 : #b0ff54,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);

$cc-warn: (
    50 : #f8e2e7,
    100 : #eeb6c3,
    200 : #e3869c,
    300 : #d85674,
    400 : #cf3156,
    500 : #c70d38,
    600 : #c10b32,
    700 : #ba092b,
    800 : #b30724,
    900 : #a60317,
    A100 : #ffd0d4,
    A200 : #ff9da5,
    A400 : #ff6a76,
    A700 : #ff515e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$cc-palette-primary: mat-palette($cc-primary);
$cc-palette-accent:  mat-palette($cc-accent);
$cc-palette-warn : mat-palette($cc-warn);

$cc-theme: mat-light-theme($cc-palette-primary, $cc-palette-accent);

@include angular-material-theme($cc-theme);

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);
