/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; color: #404040; background-color: #f2f2f2}

.page-title {
  font-weight: bold;
  font-size: 48px;
}

.page-title-active{
  font-weight: bold;
  font-size: 48px;
  color: #94C720;
}

.conversion-result-text{
  font-size: 48px;
}

.section-title {
  font-weight: bold;
  font-size: 24px;
}

.align-center{
  text-align: center;
}

.material-icons{
  font-size: 16px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  font-size: 16px;
}
