.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mat-raised-button{
  min-width: auto;
  height: 44px;
  margin-right: 2%;
}

.mat-form-field{
  width: 98%;
  margin-right: 2%;
}

table{
  width: 98%;
  margin-right: 2%;
  font-size: 16px;
}

.duration-dropdown{
  width: fit-content;
}
