
<p class="page-title">I want to convert</p>
<div class="container">
  <mat-form-field>
      <input matInput type="text" placeholder="Amount" name="amount" [(ngModel)]="currencyObject.amount">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="From" [(ngModel)]="currencyObject.from" name="from">
        <mat-option *ngFor="let option of options" [value]="option">
            {{option.currency}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="switch()" [disabled]="!currencyObject.from && !currencyObject.to">
        <mat-icon color="primary">compare_arrows</mat-icon>
    </button>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="To" [(ngModel)]="currencyObject.to" name="to">
        <mat-option *ngFor="let option of options" [value]="option">
            {{option.currency}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="convert()">CONVERT</button>
</div>

<div *ngIf="converted">
  <div>
  <div class="align-center">
  <p class="conversion-result-text">{{currencyObject.amount}} {{currencyObject.from.currency}} =
    <span class="page-title-active">{{currencyObject.amount * unitPriceFrom | number : '1.3-3'}} {{currencyObject.to.currency}}</span></p>
  <p>1 {{currencyObject.from.currency}} = {{unitPriceFrom}} {{currencyObject.to.currency | number : '1.1-5'}}</p>
  <p>1 {{currencyObject.to.currency}} = {{unitPriceTo}} {{currencyObject.from.currency | number : '1.1-5'}}</p>
  <br>
  <mat-divider></mat-divider>
  </div>
  <p class="section-title">Exchange History</p>
  </div>
  <div class="duration-dropdown">
    <mat-form-field>
    <mat-select placeholder="Duration"  [(ngModel)]="exchangeHistoryDuration" name="exchangeHistoryDuration">
      <mat-option (onSelectionChange)="refreshExchangeHistory($event, currencyObject.from, currencyObject.to)" *ngFor="let day of days" [value]="day.days">
          {{day.label}}
      </mat-option>
    </mat-select>
    </mat-form-field>
  </div>
<div class="container">
    <table mat-table [dataSource]="exchangeRateHistory" class="mat-elevation-z8">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="event">
        <th mat-header-cell *matHeaderCellDef> Exchange rate </th>
        <td mat-cell *matCellDef="let element">{{element.rate}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <table mat-table [dataSource]="statisticsArray" class="mat-elevation-z8">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Statistics </th>
        <td mat-cell *matCellDef="let element"> {{element.label}} </td>
      </ng-container>

      <ng-container matColumnDef="event">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">{{element.rate}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<br><br>
