<p class="page-title">Conversion history</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.timeOfSearch | date:'dd/MM/yyyy @ H:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="event">
      <th mat-header-cell *matHeaderCellDef> Event </th>
      <td mat-cell *matCellDef="let element">Converted an amount of {{element.amount}} from {{element.from.currency}} to {{element.to.currency}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <span>
        <span (click)="viewConversion(element)" class="view-icon"><i class="material-icons">remove_red_eye</i> View </span>
        <span (click)="deleteElement(element)" class="delete-icon"><i class="material-icons">delete_forever </i>Delete from history</span>
        </span>
      </td>

    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<br><br>
