<mat-toolbar>
    <mat-toolbar-row >
      CurrencyExchange
      <a routerLink="/currencyConverter" *ngIf="loggedIn" routerLinkActive="active">CURRENCY CONVERTER</a>
      <a routerLink="/converterHistory" *ngIf="loggedIn" routerLinkActive="active">VIEW CONVERSION HISTORY</a>
      <div  class="btn">
      <button mat-button *ngIf="loggedIn" color="primary" (click)="logOut()">LOGOUT</button>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
