.mat-toolbar {
  background-color: white;
}

.mat-toolbar-row{
  color: #404040;
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  a{
    color: inherit;
    display: flex;
    flex: 0.5;
    justify-content: center;
    text-decoration: none;
  }

  div {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    btn {
      margin-right: 14px;
    }
}
}

.active {
  border-bottom: 2px solid #009688;
  height: 48px;
  padding-top: 17px;
}



