    <div class="login">
    <form class="form-container" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <p class="page-title">Login</p>
        <mat-form-field>
          <input type="text" formControlName="username" matInput placeholder="Username">
          <mat-error *ngIf="(f.username.errors)">Username is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" formControlName="password" matInput placeholder="Password">
            <mat-error *ngIf="(f.password.errors)">Password is required</mat-error>
        </mat-form-field>

    <button mat-raised-button type="submit" color="primary" >LOGIN</button>
  </form>
  </div>
