

.login {
    width: 25%;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

  .form-container {
    display: flex;
    flex-direction: column;
  }
}

button{
  width: fit-content;
}
